* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    padding: 8px 20px;
    margin: 5px;
    background-color: #eee;
    list-style: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.menu li a {
    text-decoration: none;
    font-family: sans-serif;
}

.menu li:hover {
    background-color: #28bbff;
    color: #fff;
}

@media (max-width: 800px) {
    .menu {
      flex-direction: column;
    }
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background: gray;
}

.listProduct {
    width: 1200px;
    padding: 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.listProduct .card {
    width: 100%;
    height: 430px;
    max-width: 250px;
    background: #fff;
}

.listProduct .card .image {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.listProduct .card .image img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    transform-origin: right;
}

.listProduct .card .image img:hover {
    transform: scale(1.5);
}

.listProduct .card .content {
    padding: 10px;
}

.listProduct .card .content .productName h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
    color: #333;
    font-family: sans-serif;
}

.listProduct .card .content .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listProduct .card .content .price h2 {
    font-size: 25px;
    font-weight: 700;
    color: red;
}

.listProduct .card .content .price .fa {
    color: #ffd513;
    cursor: pointer;
}









.page {
    text-align: center;
    background: gray;
}
  
.numbered {
    display: inline-block;
    background: gray;
}
  
.numbered button {
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #fff;
    margin: 0 4px;
}

.numbered button.active {
    background-color: #28bbff;
    color: #fff;
    border: 1px solid #28bbff;
}
  
.numbered button:hover:not(.active) {
    background-color: #28bbff;
    color: #fff;
}




